@keyframes pulse {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

.dropout-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

[data-dropoutinput] {
  padding: 0.8rem;
  width: 16rem;
  margin: 8rem;
}

[data-dropoutitem] {
  padding: 0.6rem;
  cursor: pointer;

  &[aria-selected='true'],
  &:hover {
    background-color: lightgray;
  }

  &:not([aria-selected]) {
    background-color: transparent;
  }
}

[data-dropoutmenu] {
  list-style: none;
  margin: 0;
  padding-left: 0;
  position: absolute;
  outline: 1px solid grey;
  max-height: 26rem;
  overflow-y: scroll;
}

// Keep image opacity at 0 until it's ready ad the .fadeIn class is added
.lazy-img {
  opacity: 0;
  transition: all 200ms ease-in;
}

.lazy-img .fadeIn {
  opacity: 1;
}

.image-container {
  .lazy-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    min-width: 800px;
    transition: all 200ms ease-in;
  }

  .sus-img {
    height: 80%;
    width: 80%;
    margin: 0 auto;
  }
}

/* EXAMPLE SPECIFIC */
.image-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
}

.lazy-img-wrapper {
  position: relative;
  margin: 1.2rem;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    margin: 0 0.6rem;
  }
}

.default-placeholder {
  height: 100%;
  width: 100%;
  will-change: opacity;
  transition: opacity 200ms ease-in;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgb(172, 174, 175);
  border-radius: 3px;
  opacity: 0;

  &.flicker {
    opacity: 1;
    animation: pulse 2s infinite ease-out;
  }
}
